.about {
  height: 110%;
  width: 100%;

  background: #fff !important;
  color: black;
  padding: 50px 0px 0px 0px;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  h2 {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
  }

  h5 {
    margin-top: 10px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bbbbbb;
  }

  hr {
    margin: 30px auto;
  }

  &_text {
    margin: 0px auto;
    line-height: 30px;
    max-width: 720px;
    font-size: 14px;
    padding: 0px 30px;

    &_p2 {
      margin-top: 5%;
    }
  }

  &_wrap {
    
    line-height: 0.5rem;
    text-align: initial;
    width: 50%;
    margin: 30px auto;
    min-width: 300px;

    h1 {
      text-align: center;

      margin: 20px auto;
    }
  }


}

.bar {
  background: #ff413d;
  width: 0;
  margin: .25em 0;
  color: #fff;
  position: relative;
  transition: width 2s, background .2s;
  -webkit-transform: translate3d(0, 0, 0);
  clear: both;
}

.bar:nth-of-type(odd) {
  background: #ff6461;
}

.bar .label {
  text-align: initial;
  font-size: .75em;
  padding: 1em;
  background: #212121;
  width: 7em;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.bar .label.second {
  background: #333;
}

.count {
  position: absolute;
  right: .25em;
  top: .75em;
  padding: .15em;
  font-size: .75em;
  font-weight: bold;
}