.footer {
  height: 120px;
  background-color: #1a1a1a;
  display: block;
  justify-content: center;
  text-align: center;
  padding-top: 35px;
  color: #666;

  &_copyrite {
  }

  &_icons {
    margin-top: 10px;
    i
    {
        margin: 0px 5px 0px 5px;
    }
  }
}
