.home {
  height: 100%;

  &_contant {
    width: 100%;
    height: 100%;

    display: flex;
    position: absolute;
    margin: 0 auto;
    &_part1 {
      height: 100%;
      width: 50%;
      background-color: $secondary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      
      @include transition-ease;
      &_left {
        flex: 1;
        width: 100%;
        height: 100%;
       
        justify-content: center;
        @include transition-ease;
        &_contant {
          margin: 0;
          position: absolute;
          
          top: 50%;
          left:30%;
          transform: translatex(-30%);
          transform: translateY(-40%);
          color: #000;
          @include transition-ease;
          h2 {
           
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
            font-size: 4vh;
            color: #fff;
            opacity: 0;
            @include transition-ease;
          }
          &_name {
            font-size: 5vh;
            padding-bottom: 1rem;
            margin-top: 1rem;
            font-weight: 900;
            opacity: 0;
            font-family: playfair;
            @include transition-ease;
            &--last {
              color: #000;
              
            }
          }
         
          &_typewwrite {
            font-family: lobsters !important;
            font-weight: 700;
            font-size: 3vh;
          }
        }
      }
      &_right {
        flex: 1;
        width: 100%;
        height: 100%;
      }
    }
    &_part2 {
      height: 100%;
      width: 50%;
      background-color: #f8f8f8;
    }
    &_welcome {
      height: fit-content;
      width: fit-content;
      color: black;
      font-size: 13vw;
      position: absolute;
      transform: translatex(100%);
      margin-left: 0;
      top: 50%;
      margin-top: -50px;
      @include transition-ease;
    }
  }
}
