.services {
  height: fit-content;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 10vh;
  padding: 50px 0px 50px 0px;
  h2 {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-family: lobsters;
    text-transform: uppercase;
    color: black;
  }
  h5 {
    margin-top: 10px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bbbbbb;
  }

  hr {
    margin: 30px auto;
  }
  &_bar {
    color: black;
    display: flex;
    height: fit-content;
    flex-direction: row;
    padding: 1vh 2vw 1vh 2vw;
    width: 100%;
    &_data {
      flex: 1;
      height: fit-content;
      min-height: 180px;
      padding: 1vh 5vw 1vh 5vw;
      @include transition-ease;
      i {
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 28px;
        color: $secondary-color;
        
      }
      h3 {
        margin-top: 2vh;
        margin-bottom: 2vh;
      }
      &:hover
      {
        background-color: $secondary-color;
        color: #fff;
        transition-property: background-color;
        transition-delay: 0.05s;
        i 
        {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 485px) {
  .services
  {
    &_bar
    {
        flex-direction: column;
        &_data
        {
          padding:1vh 20vw 1vh 20vw ;
        }
    }
  }
}

