* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

img {
  max-width: 100%;
  max-height: 100%;
  image-orientation: 0deg;
}

@font-face {
  font-family: lobsters;
  src: url("../fonts/LobsterTwo.woff") format("woff"), url("../fonts/LobsterTwo.ttf") format("truetype");
}

@font-face {
  font-family: playfair;
  src: url("../fonts/PlayfairDisplaySC-Regular.ttf");
}

.home {
  height: 100%;
}

.home_contant {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin: 0 auto;
}

.home_contant_part1 {
  height: 100%;
  width: 50%;
  background-color: #FF5851;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home_contant_part1_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home_contant_part1_left_contant {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translatex(-30%);
          transform: translatex(-30%);
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home_contant_part1_left_contant h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 4vh;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home_contant_part1_left_contant_name {
  font-size: 5vh;
  padding-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 900;
  opacity: 0;
  font-family: playfair;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home_contant_part1_left_contant_name--last {
  color: #000;
}

.home_contant_part1_left_contant_typewwrite {
  font-family: lobsters !important;
  font-weight: 700;
  font-size: 3vh;
}

.home_contant_part1_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}

.home_contant_part2 {
  height: 100%;
  width: 50%;
  background-color: #f8f8f8;
}

.home_contant_welcome {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  font-size: 13vw;
  font-family: lobsters !important;
  position: absolute;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  margin-left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

img {
  max-width: 100%;
  max-height: 100%;
  image-orientation: 0deg;
}

@font-face {
  font-family: lobsters;
  src: url("../fonts/LobsterTwo.woff") format("woff"), url("../fonts/LobsterTwo.ttf") format("truetype");
}

@font-face {
  font-family: playfair;
  src: url("../fonts/PlayfairDisplaySC-Regular.ttf");
}

.name {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 2px;
  background: #ffffff;
}

.name b {
  float: left;
  display: block;
  font-size: 3vh;
  color: #FF5851;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-btn {
  position: fixed;
  z-index: 21;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #FF5851;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #FF5851;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 4px;
  background: #FF5851;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn_burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.9;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #000;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav_item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav_item.active > a {
  color: #FF5851;
}

.nav .menu-nav_link {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_link:hover {
  color: #FF5851;
}

.menu-nav_item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.about {
  width: 100%;
  background: #fff !important;
  color: black;
  padding: 50px 0px 0px 0px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about h2 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 15px;
  letter-spacing: 1px;
  font-family: lobsters;
  text-transform: uppercase;
  color: black;
}

.about h5 {
  margin-top: 10px;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bbbbbb;
}

.about hr {
  margin: 30px auto;
}

.about_text {
  margin: 0px auto;
  line-height: 30px;
  max-width: 720px;
  font-size: 14px;
  padding: 0px 30px;
}

.about_text_p2 {
  margin-top: 5%;
}

.about_wrap {
  line-height: 0.5rem;
  text-align: initial;
  width: 50%;
  margin: 30px auto;
  min-width: 300px;
}

.about_wrap h1 {
  text-align: center;
  margin: 20px auto;
}

.about_download {
  margin-bottom: 10vh;
}

.bar {
  background: #ff362f;
  width: 0;
  margin: .25em 0;
  color: #fff;
  position: relative;
  -webkit-transition: width 2s, background .2s;
  transition: width 2s, background .2s;
  -webkit-transform: translate3d(0, 0, 0);
  clear: both;
}

.bar:nth-of-type(odd) {
  background: #FF5851;
}

.bar .label {
  text-align: initial;
  font-size: .75em;
  padding: 1em;
  background: #212121;
  width: 7em;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
}

.bar .label.second {
  background: #333;
}

.count {
  position: absolute;
  right: .25em;
  top: .75em;
  padding: .15em;
  font-size: .75em;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  color: white;
  background: tomato;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stats {
  position: relative;
  padding: 0 25px;
}

@media (max-width: 690px) {
  .stats {
    width: 100%;
  }
}

.stats__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(0, -150px, 0);
          transform: translate3d(0, -150px, 0);
  opacity: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.stats__header.active {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.stats__header-num {
  margin-right: 25px;
}

.stats__header-num p {
  font-size: 80px;
  margin: 0;
  font-weight: 700;
}

.stats__header-name p {
  color: #f8d0d8;
  margin: 0;
  font-size: 18px;
}

.stats__header-name span {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
}

.stats__item {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  float: left;
  position: relative;
  text-align: center;
  margin-right: 37.5px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.stats__item:nth-of-type(1) .stats__item-bar {
  height: 260px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.stats__item:nth-of-type(2) .stats__item-bar {
  height: 224px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.stats__item:nth-of-type(3) .stats__item-bar {
  height: 200px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.stats__item:nth-of-type(4) .stats__item-bar {
  height: 128px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.stats__item:nth-of-type(5) .stats__item-bar {
  height: 152px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.stats__item:nth-of-type(6) .stats__item-bar {
  height: 128.4px;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.stats__item:nth-of-type(7) .stats__item-bar {
  height: 204px;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.stats__item:nth-of-type(8) .stats__item-bar {
  height: 200.4px;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.stats__item:last-child {
  margin-right: 0;
}

@media (max-width: 690px) {
  .stats__item {
    float: none;
    height: auto;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stats__item:nth-of-type(1) .stats__item-bar {
    width: 65%;
    height: 30px;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .stats__item:nth-of-type(2) .stats__item-bar {
    width: 56%;
    height: 30px;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .stats__item:nth-of-type(3) .stats__item-bar {
    width: 50%;
    height: 30px;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .stats__item:nth-of-type(4) .stats__item-bar {
    width: 32%;
    height: 30px;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .stats__item:nth-of-type(5) .stats__item-bar {
    width: 38%;
    height: 30px;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .stats__item:nth-of-type(6) .stats__item-bar {
    width: 32.1%;
    height: 30px;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .stats__item:nth-of-type(7) .stats__item-bar {
    width: 51%;
    height: 30px;
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  .stats__item:nth-of-type(8) .stats__item-bar {
    width: 50.1%;
    height: 30px;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  .stats__item .stats__item-num {
    margin-right: 25px;
  }
}

.stats__item:hover {
  opacity: 0.7;
}

.stats__item-bar {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 40px;
  background: white;
  -webkit-transform: scaleY(0) translate3d(0, 0, 0);
          transform: scaleY(0) translate3d(0, 0, 0);
  cursor: pointer;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
}

.stats__item-bar.active {
  -webkit-transform: none;
          transform: none;
}

.stats__item-num {
  margin-top: 25px;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.stats__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.stats__overlay.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 690px) {
  .stats__overlay {
    padding: 12.5px;
  }
}

.stats__overlay-avg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background: #4c2e34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats__overlay-avg > p {
  margin: 0;
}

.stats__overlay-avg .avg {
  font-size: 100px;
  font-weight: 700;
}

@media (max-width: 690px) {
  .stats__overlay-avg {
    width: 240px;
    height: 240px;
  }
  .stats__overlay-avg .avg {
    font-size: 65px;
  }
}

.stats__overlay-info {
  position: absolute;
  bottom: 25px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 690px) {
  .stats__overlay-info {
    left: 25px;
  }
}

.stats__overlay-info-half {
  margin-right: 25px;
}

.stats__overlay-info-half p {
  margin: 0;
  line-height: 1.2;
}

.stats__overlay-info-half p:first-child {
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 690px) {
  .stats__overlay-info-half p:first-child {
    font-size: 24px;
  }
}

.stats__overlay-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.stats__overlay-back > svg {
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.stats__overlay-back:hover > svg {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.stats__overlay-back p {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 0 12.5px;
}

@media (max-width: 690px) {
  .stats__overlay-back p {
    font-size: 18px;
  }
}

.button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 290px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #FF5851;
  color: #FF5851;
  letter-spacing: 1px;
  text-shadow: 0;
  font-family: lobsters;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button:hover {
  color: white;
  background: #FF5851;
}

.button:active {
  letter-spacing: 2px;
}

.button:after {
  content: "Download My resume.";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #FF5851;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "thanks.";
}

.onclic:hover {
  color: #FF5851;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #ff362f;
}

.validate:after {
  content: "Thanks.!";
}

button::-moz-selection {
  border: none;
}

button::selection {
  border: none;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(415deg);
            transform: rotate(415deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(415deg);
            transform: rotate(415deg);
  }
}

.work {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  padding: 50px 0px 50px 0px;
}

.work h2 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 15px;
  letter-spacing: 1px;
  font-family: lobsters;
  text-transform: uppercase;
  color: black;
}

.work h5 {
  margin-top: 10px;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bbbbbb;
}

.work hr {
  margin: 30px auto;
}

.work_menu {
  width: 100%;
}

.work_menu_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work_menu_titles button1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 1rem;
  padding: 10px 0px 5px 0px;
  color: #000;
  border: 1px solid #FF5851;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.work_menu_titles button1::-moz-selection {
  border: none;
}

.work_menu_titles button1::selection {
  border: none;
}

.work_menu_titles button1:hover {
  background-color: #FF5851;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.work_menu_images {
  padding: 1vh 0vw;
  border: 1px solid;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work_menu_images_image {
  width: 40%;
  height: 40%;
  display: inline-block;
  min-width: 200px;
  max-width: 300px;
  max-height: 300px;
  position: relative;
}

.work_menu_images_image img {
  border: 1px solid #000;
  height: 20vh;
  max-width: 100%;
  max-height: 100%;
}

.work_menu_images_image text {
  position: absolute;
  opacity: 0;
  font-size: 1rem;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.work_menu_images_image:hover img {
  opacity: 0.2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.work_menu_images_image:hover text {
  color: black;
  opacity: 1;
  top: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.testimonial {
  width: 100%;
  margin-bottom: 10vh;
}

.testimonials {
  height: 100%;
  background-color: #f5f5f5;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 10vh 0;
}

.testimonials h2 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 5vh;
  padding-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

.testimonials h5 {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #666;
}

.testimonials hr {
  width: 30px;
  margin: 30px auto;
}

.testimonials_container {
  width: 100vw;
  min-width: 250px;
  max-width: 700px;
  min-height: 290px;
}

.testimonials_slide {
  width: 60vw;
}

.testimonials_slide img {
  margin-top: 10px;
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.testimonials_slide text h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 15px 0;
}

.testimonials_slide text h6 {
  font-size: 12px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #666;
}

.testimonials_slide text p {
  color: #444444;
  padding: 0 10vw;
  line-height: 20px;
  font-size: 14px;
}

.swiper-pagination {
  bottom: 0 !important;
  position: relative !important;
  margin: 20px 0px 0px 0px !important;
}

.contact {
  text-align: center;
  display: block;
}

.contact h2 {
  color: #000000;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact h5 {
  color: #666;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact hr {
  width: 30px;
  margin: 30px auto;
  height: 1px !important;
  color: #777;
  background-color: #777;
}

.contact_box {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  padding: 0 0 10vh 0;
}

.contact_box_message {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_box_message form {
  margin: 0 10%;
}

.contact_box_message form input {
  border: 1px solid;
  border-radius: 0px;
  padding: 10px;
  padding-left: 15px;
  font-size: 12px;
  width: 100%;
  margin: 1% 0;
}

.contact_box_message form textarea {
  width: 100%;
  max-height: 150px;
  min-height: 50px;
  resize: vertical;
  border: 1px solid;
  border-radius: 0px;
  padding: 10px;
  padding-left: 15px;
  font-size: 12px;
  margin: 1% 0;
}

.contact_box_message form button {
  margin: 10px 0;
  border: 1px solid;
  padding: 10px;
  font-size: 14px;
}

.contact_box_data {
  color: #777;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_box_data_card {
  margin: 5% 10%;
}

.contact_box_data_card span {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact_box_data_card p {
  font-size: 12px;
}

@media (max-width: 700px) {
  .contact_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  height: 120px;
  background-color: #1a1a1a;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 35px;
  color: #666;
}

.footer_icons {
  margin-top: 10px;
}

.footer_icons i {
  margin: 0px 5px 0px 5px;
}

.services {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px 0px 50px 0px;
}

.services h2 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 15px;
  letter-spacing: 1px;
  font-family: lobsters;
  text-transform: uppercase;
  color: black;
}

.services h5 {
  margin-top: 10px;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bbbbbb;
}

.services hr {
  margin: 30px auto;
}

.services_bar {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1vh 2vw 1vh 2vw;
  width: 100%;
}

.services_bar_data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 180px;
  padding: 1vh 5vw 1vh 5vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.services_bar_data i {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 20px;
  color: #FF5851;
}

.services_bar_data i b {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 20px;
}

.services_bar_data h3 {
  margin-bottom: 2vh;
}

.services_bar_data h5 {
  color: #777777;
}

.services_bar_data:hover {
  background-color: #FF5851;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.services_bar_data:hover i {
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.services_bar_data:hover h5 {
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 485px) {
  .services_bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services_bar_data {
    padding: 1vh 20vw 1vh 20vw;
  }
}

body {
  background: #fff;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: #FF5851;
}

header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  top: 0;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icon {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social-icon a {
  padding: 0.4rem;
}

main .social-icon a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #FF5851;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-set-text-color(#fff);
}
/*# sourceMappingURL=main.css.map */