@import  'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'skills';
@import 'download';
@import 'work';
@import 'testimonials';
@import 'contact';
@import 'footer';
@import 'services';
body
{
    background: set-text-color($primary-color);
    color: #fff;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1,h2,h3{
    font-weight: 400;
}

a
{
    color: #fff;
    text-decoration: none;
}

.text-secondary
{
    color: $secondary-color;
}
header
{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 1rem;
    top : 0;
}

main
{
    height: 100%;
    width: 100%;
  
    .social-icon
    {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        
        a{
            padding: 0.4rem;
    
            &:hover
            {
                @include transition-ease;
                color: $secondary-color;
            }
        }
    }
}

footer
{
    font-size: 1rem;
    position: fixed;
    bottom: 0rem;
    
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-set-text-color($primary-color);
}